body {
  background-color: #261F1D;
  color: #F2E6CE;
}
h1 {
  color: #A61C1C;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-align: center;
}
p.tweet {
  background-color: #F2E6CE;
  border-radius: 12px;
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
  color: #BF9F63;
  display: none;
  padding: 5px;
}